<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
      {% if budget.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ budget.previous_page_number }}">Previous</a>
        </li>
      {% endif %}
    <li class="page-item">
        <p class="page-link">Страница {{ budget.number }} из {{ budget.paginator.num_pages }}</p>
    </li>
    {% if budget.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ budget.next_page_number }}">Next</a>
        </li>
    {% endif %}
  </ul>
</nav>