<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
      {% if firmas.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ firmas.previous_page_number }}&search_str={{ search_str }}">Previous</a>
        </li>
      {% endif %}
        {% for page in firmas.paginator.page_range %}
            {% if firmas.number == page %}
                <li class="page-item active" aria-current="page">
                    <span class="page-link">{{ page }}</span>
                 </li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ page }}&search_str={{ search_str }}">{{ page }}</a></li>
                <li class="page-item">
            {% endif %}
        {% endfor %}
    {% if firmas.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ firmas.next_page_number }}&search_str={{ search_str }}">Next</a>
        </li>
    {% endif %}
  </ul>
</nav>