{% extends 'base.html' %}
{% block menu %}
    {#    <a class="nav-link" href="{% url 'webapp:search' %}">Home</a>#}
    <a class="nav-link" href="{% url "webapp:firma_detail" firma.0.pk %}">{{ firma.0.full_name_ru }}</a>
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Связи</a>
{% endblock %}
{% block content %}
    {% for firma_2 in firmas_2 %}
        <div class="card">
            <h7 class="card-header">Поиск по учредителю {{ firma_2.name }}</h7>
            {% if firma_2.firmas %}
                <div class="card-body">
                    {% for f in firma_2.firmas %}
                        <dl class="row">
                            <dt class="col-sm-3">Название фирмы</dt>
                            <dd class="col-sm-9"><a href="{% url "webapp:firma_detail" f.pk %}">{{ f.full_name_kg }}</a></dd>
                            <dt class="col-sm-3">ИНН</dt>
                            <dd class="col-sm-9">{{ f.inn }}</dd>
                            <dt class="col-sm-3">Директор</dt>
                            <dd class="col-sm-9">{{ f.director }}</dd>
                            <hr>
                            {#                            <a href="{% url "webapp:firma_detail" f.pk %}" class="btn btn btn-dark">Подробнее</a>#}
                        </dl>
                    {% endfor %}
                </div>

            {% else %}
                <dt class="col-sm-3">Нет фирмы</dt>
            {% endif %}
        </div>
    {% endfor %}
    <div class="card">
        <h7 class="card-header">Поиск по дирeктору {{ firma.0.director }}</h7>
        <div class="card-body">
            <dl class="row">
                {% for firma_3 in firmas_3 %}
                    <dt class="col-sm-3">Название фирмы</dt>
                    <dd class="col-sm-9"><a href="{% url "webapp:firma_detail" firma_3.pk %}">{{ firma_3.full_name_ru }}</a></dd>
                    <dt class="col-sm-3">ИНН</dt>
                    <dd class="col-sm-9">{{ firma_3.inn }}</dd>
                    <dt class="col-sm-3">Директор</dt>
                    <dd class="col-sm-9">{{ firma_3.director }}</dd>
                    <hr>
                    {#                    <a href="{% url "webapp:firma_detail" firma_3.pk %}" class="btn btn-secondary ">Подробнее</a>#}
                {% endfor %}
            </dl>
        </div>
    </div>
    <div class="card">
        <h7 class="card-header">Поиск по адресу фирмы {{ firma.0.full_name_kg }}</h7>
        <div class="card-body">
            <dl class="row">
                {% for address in addresses %}
                    <dt class="col-sm-3">Название фирмы</dt>
                    <dd class="col-sm-9"><a href="{% url "webapp:firma_detail" address.pk %}">{{ address.full_name_ru }}</a></dd>
                    <dt class="col-sm-3">ИНН</dt>
                    <dd class="col-sm-9">{{ address.inn }}</dd>
                    <dt class="col-sm-3">Директор</dt>
                    <dd class="col-sm-9">{{ address.director }}</dd>
                    <hr>
{#                    <a href="{% url "webapp:firma_detail" address.pk %}" class="btn btn-secondary">Подробнее</a>#}
                {% endfor %}
            </dl>
        </div>
    </div>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}
</html>