{% extends 'base.html' %}
{% block menu %}
    {#    <a class="nav-link" href="{% url 'webapp:search' %}">Home</a>#}
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">{{ firma.0.full_name_ru }}</a>
{% endblock %}
{% block content %}
    {#    <div class="card yust">#}
    {#        <h5 class="card-header text-center">Данные по базе МинЮста</h5>#}
    {#        <div class="card-body">#}
    {#            <dl class="row">#}
    {#                <div class="col-sm-3">Название организации</div>#}
    {#                {% if firma.0.full_name_ru %}#}
    {#                    <dd class="col-sm-9">{{ firma.0.full_name_ru }}</dd>#}
    {#                {% else %}#}
    {#                    <dd class="col-sm-9">Отсутствует</dd>#}
    {#                {% endif %}#}
    {#                <div class="col-sm-3">Регистрационный номер</div>#}
    {#                {% if firma.0.registration_number %}#}
    {#                    <dd class="col-sm-9">{{ firma.0.registration_number }}</dd>#}
    {#                {% else %}#}
    {#                    <dd class="col-sm-9">Отсутствует</dd>#}
    {#                {% endif %}#}
    {#                <div class="col-sm-3">Окпо код</div>#}
    {#                {% if firma.0.okpo_cod %}#}
    {#                    <dd class="col-sm-9">{{ firma.0.okpo_cod }}</dd>#}
    {#                {% else %}#}
    {#                    <dd class="col-sm-9">Отсутствует</dd>#}
    {#                {% endif %}#}
    {#                <div class="col-sm-3">ИНН</div>#}
    {#                {% if firma.0.inn %}#}
    {#                    <dd class="col-sm-9">{{ firma.0.inn }}</dd>#}
    {#                {% else %}#}
    {#                    <dd class="col-sm-9">Отсутствует</dd>#}
    {#                {% endif %}#}
    {#                <div class="col-sm-3">Адрес</div>#}
    {#                <dd class="col-sm-9">{{ firma.0.address_region }}, {{ firma.0.address_district }}, {{ firma.0.address_city }},#}
    {#                    {{ firma.0.address_microdistrict }}, {{ firma.0.address_street }}, {% if firma.0.house_number %}{{ firma.0.house_number }},{% else %}{{ firma.0.apartment_number }{% endif %}</dd>#}
    {#                <div class="col-sm-3">Телефон</div>#}
    {#                {% if firma.0.phone %}#}
    {#                    <dd class="col-sm-9">{{ firma.0.phone }}</dd>#}
    {#                {% else %}#}
    {#                    <dd class="col-sm-9">Отсутствует</dd>#}
    {#                {% endif %}#}
    {#                <div class="col-sm-3">Электронная почта</div>#}
    {#                {% if firma.0.email  %}#}
    {#                    <dd class="col-sm-9">{{ firma.0.email }}</dd>#}
    {#                {% else%}#}
    {#                    <dd class="col-sm-9">Отсутствует</dd>#}
    {#                {% endif %}#}
    {#                <div class="col-sm-3">Перерегистрация</div>#}
    {#                {% if firma.0.reg_or_rereg %}#}
    {#                    <dd class="col-sm-9">{{ firma.0.reg_or_rereg }}</dd>#}
    {#                {% else %}#}
    {#                    <dd class="col-sm-9">Отсутствует</dd>#}
    {#                {% endif %}#}
    {#                <div class="col-sm-3">Директор</div>#}
    {#                {% if firma.0.director %}#}
    {#                    <dd class="col-sm-9">{{ firma.0.director }}</dd>#}
    {#                {% else %}#}
    {#                    <dd class="col-sm-9">Отсутствует</dd>#}
    {#                {% endif %}#}
    {#                <div class="col-sm-3">Основной вид деятельности</div>#}
    {#                {% if firma.0.main_activity %}#}
    {#                    <dd class="col-sm-9">{{ firma.0.main_activity }}</dd>#}
    {#                {% else %}#}
    {#                    <dd class="col-sm-9">Отсутствует</dd>#}
    {#                {% endif %}#}
    {#                <div class="col-sm-3">Код экономической деятельности</div>#}
    {#                {% if firma.0.economic_activity_code %}#}
    {#                    <dd class="col-sm-9">{{ firma.0.economic_activity_code }}</dd>#}
    {#                {% else %}#}
    {#                    <dd class="col-sm-9">Отсутствует</dd>#}
    {#                {% endif %}#}
    {#                <div class="col-sm-3">Учредители</div>#}
    {#                {% if firma.0.founders %}#}
    {#                    <dd class="col-sm-9">{{ firma.0.founders }}</dd>#}
    {#                {% else %}#}
    {#                    <dd class="col-sm-9">Отсутствует</dd>#}
    {#                {% endif %}#}
    {#            </dl>#}
    {#        </div>#}
    {#    </div>#}
    <div class="container detail">
        <div class="row">
            <h7 class="text-center">Данные по базе минюст</h7>
            <div class="col-sm-3">Название организации</div>
            {% if firma.0.full_name_ru %}
                <dd class="col-sm-9">{{ firma.0.full_name_ru }}</dd>
            {% else %}
                <dd class="col-sm-9">Отсутствует</dd>
            {% endif %}
            <div class="col-sm-3">Регистрационный номер</div>
            {% if firma.0.registration_number %}
                <dd class="col-sm-9">{{ firma.0.registration_number }}</dd>
            {% else %}
                <dd class="col-sm-9">Отсутствует</dd>
            {% endif %}
            <div class="col-sm-3">Окпо код</div>
            {% if firma.0.okpo_cod %}
                <dd class="col-sm-9">{{ firma.0.okpo_cod }}</dd>
            {% else %}
                <dd class="col-sm-9">Отсутствует</dd>
            {% endif %}
            <div class="col-sm-3">ИНН</div>
            {% if firma.0.inn %}
                <dd class="col-sm-9">{{ firma.0.inn }}</dd>
            {% else %}
                <dd class="col-sm-9">Отсутствует</dd>
            {% endif %}
            <div class="col-sm-3">Адрес</div>
            <dd class="col-sm-9">{{ firma.0.address_region }}, {{ firma.0.address_district }}, {{ firma.0.address_city }},
                {{ firma.0.address_microdistrict }}, {{ firma.0.address_street }}, {% if firma.0.house_number %}{{ firma.0.house_number }},{% else %}{{ firma.0.apartment_number }{% endif %}</dd>
            <div class="col-sm-3">Телефон</div>
            {% if firma.0.phone %}
                <dd class="col-sm-9">{{ firma.0.phone }}</dd>
            {% else %}
                <dd class="col-sm-9">Отсутствует</dd>
            {% endif %}
            <div class="col-sm-3">Электронная почта</div>
            {% if firma.0.email  %}
                <dd class="col-sm-9">{{ firma.0.email }}</dd>
            {% else%}
                <dd class="col-sm-9">Отсутствует</dd>
            {% endif %}
            <div class="col-sm-3">Перерегистрация</div>
            {% if firma.0.reg_or_rereg %}
                <dd class="col-sm-9">{{ firma.0.reg_or_rereg }}</dd>
            {% else %}
                <dd class="col-sm-9">Отсутствует</dd>
            {% endif %}
            <div class="col-sm-3">Директор</div>
            {% if firma.0.director %}
                <dd class="col-sm-9">{{ firma.0.director }}</dd>
            {% else %}
                <dd class="col-sm-9">Отсутствует</dd>
            {% endif %}
            <div class="col-sm-3">Основной вид деятельности</div>
            {% if firma.0.main_activity %}
                <dd class="col-sm-9">{{ firma.0.main_activity }}</dd>
            {% else %}
                <dd class="col-sm-9">Отсутствует</dd>
            {% endif %}
            <div class="col-sm-3">Код экономической деятельности</div>
            {% if firma.0.economic_activity_code %}
                <dd class="col-sm-9">{{ firma.0.economic_activity_code }}</dd>
            {% else %}
                <dd class="col-sm-9">Отсутствует</dd>
            {% endif %}
            <div class="col-sm-3">Учредители</div>
            {% if firma.0.founders %}
                <dd class="col-sm-9">{{ firma.0.founders }}</dd>
            {% else %}
                <dd class="col-sm-9">Отсутствует</dd>
            {% endif %}
        </div>
    </div>
    <div class="container det_tizme">
        <div class="row">
            <h7 class="text-center">Данные по базе Тизме</h7>
            {% if firma.1 %}
                {% for people in firma.1 %}
                    <div class="col-sm-3">ИНН</div>
                    <dd class="col-sm-9">{{ people.inn.capitalize }}</dd>
                    <div class="col-sm-3">Фамилие</div>
                    <dd class="col-sm-9">{{ people.last_name }}</dd>
                    <div class="col-sm-3">Имя</div>
                    <dd class="col-sm-9">{{ people.first_name }}</dd>
                    <div class="col-sm-3">Отчество</div>
                    <dd class="col-sm-9">{{ people.middle_name }}</dd>
                    {#                    <div class="col-sm-3">Адрес</div>#}
                    {#                    <dd class="col-sm-9">{{ people.address }}</dd>#}
                    <div class="col-sm-3">УИК</div>
                    <dd class="col-sm-9">{{ people.uik }}</dd>
                    <div class="col-sm-3">ТИК</div>
                    <dd class="col-sm-9">{{ people.tik }}</dd>
                    <hr>
                {% endfor %}
            {% else %}
                <p class="tizmetext">Данные отсутствуют</p>
            {% endif %}
        </div>
    </div>
    <div class="card tizme">
        <h5 class="card-header text-center">Данные по базе Открытый бюджет</h5>
        <div class="card-body">
            <dl class="row">
                {% if budget %}
                    {% for budget in budget %}
                        <div class="col-sm-3">ИНН</div>
                        <dd class="col-sm-9">{{ budget.inn }}</dd>
                        {#                    <div class="col-sm-3">Фамилие</div>#}
                        {#                    <dd class="col-sm-9">{{ people.last_name }}</dd>#}
                        {#                    <div class="col-sm-3">Имя</div>#}
                        {#                    <dd class="col-sm-9">{{ people.first_name }}</dd>#}
                        {#                    <div class="col-sm-3">Отчество</div>#}
                        {#                    <dd class="col-sm-9">{{ people.middle_name }}</dd>#}
                        {#                    <div class="col-sm-3">Адрес</div>#}
                        {#                    <dd class="col-sm-9">{{ people.address }}</dd>#}
                        {#                    <div class="col-sm-3">УИК</div>#}
                        {#                    <dd class="col-sm-9">{{ people.uik }}</dd>#}
                        {#                    <div class="col-sm-3">ТИК</div>#}
                        {#                    <dd class="col-sm-9">{{ people.tik }}</dd>#}
                    {% endfor %}
                    {% include 'partial/pagination.html' %}
                {% endif %}
            </dl>
        </div>
    </div>
    {#    <div class="card tizme">#}
    {#        <h5 class="card-header text-center">Данные по базе Открытый бюджет</h5>#}
    {#        <div class="card-body">#}
    {#            <dl class="row">#}
    {#                {% for tender in tenders %}#}
    {#                    <div class="col-sm-3">Tender</div>#}
    {#                    <dd class="col-sm-9">{{ tender.org_name }}</dd>#}
    {#                    <div class="col-sm-3">Название организации</div>#}
    {#                    <dd class="col-sm-9">{{ suplier.name }}</dd>#}
    {#                {% endfor %}#}
    {#                {% include 'partial/pagination.html' %}#}
    {#            </dl>#}
    {#        </div>#}
    {#    </div>#}
    <div class="fdsf text-center">
        <button class="btn btn-dark" type="button"><a href="{% url "webapp:firma_detail_2" firma.0.pk %}" class="link-light">Поиск связей</a></button>
    </div>
    {#    {% include 'partial/pagination.html' %}#}
    {#    <span class="asd"><a href="{% url "webapp:firma_detail_2" firma.0.pk %}">Второй уровен</a></span>#}
{% endblock %}