{% extends 'base.html' %}
{% block title %}Files{% endblock %}
{% block menu %}
{#    <a class="nav-link active" aria-current="page" href="{% url 'webapp:search' %}">Home</a>#}
{% endblock %}

{% block content %}
    {% if request.user.is_not_authenticated %}
    <div class="main-block">
		<div class="container">
			<h2>SLED.POLITMER.KG</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae fuga dolorem atque eum distinctio, veritatis ipsa similique vitae laboriosam sint tenetur perferendis, delectus corrupti? Nesciunt voluptates porro nam possimus perferendis modi non, molestias cum, aliquam nihil illo voluptatibus. Debitis optio delectus, unde distinctio. Esse, omnis debitis impedit assumenda, possimus quos nostrum dolore, at itaque molestiae aliquid fuga mollitia id. Sint distinctio hic nam ad sequi? Sunt, reprehenderit facilis rem hic delectus vel saepe voluptas fugit quasi pariatur deleniti veritatis praesentium odio temporibus suscipit voluptate dolorem modi. Odit rerum veritatis quod!</p>
		</div>
	</div>
    {% endif %}
    {% if request.user.is_authenticated %}
        <h1 class="text-center"></h1>
        <form action="{% url 'webapp:search'  %}" method="get" autocomplete="off" >
            <div class="input-group">
                {% if not search_str %}
                    <input type="text" class="form-control" name="search_str" value="{{ search_str }}" placeholder="Введите ФИО или название организации">
                {% else %}
                    <input type="text" class="form-control" name="search_str" value="{{ search_str }}" placeholder={{ search_str }}>
                {% endif %}
                <button type="submit" class="btn btn btn-dark">Поиск</button>
            </div>
        </form>
    {% endif %}
    {% if firmas %}
        {% for firma in firmas %}
            <div class="card det">
                <h5 class="card-header">{{ firma.full_name_kg }}</h5>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3">ИНН</dt>
                        <dd class="col-sm-9">{{ firma.inn }}</dd>
                        <dt class="col-sm-3">Директор</dt>
                        <dd class="col-sm-9">{{ firma.director }}</dd>
                    </dl>
                    <div class="right">
                        <a href="{% url "webapp:firma_detail" firma.pk %}" class="btn btn btn-dark">Подробнее</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}