{% extends 'base.html' %}
{% block menu %}
    <a class="nav-link" href="{% url "webapp:firma_detail" firma.pk %}">{{ firma.full_name_ru }}</a>
{% endblock %}
{% block content %}
    <div class="header3 ">
        <div class="header3-cont container d-flex align-items-center justify-content-center flex-column position-relative">
            <a href="/">
                <div class="logo3">
                </div>
            </a>
            <nav class="base-navbar navbar-expand navbar-white">
                {#                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">#}
                {#                    <span class="navbar-toggler-icon"></span>#}
                {#                </button>#}
{#                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">#}
{#                    <ul class="navbar-nav mr-auto mb-0 mb-md-2 mb-lg-0">#}
{#                        <ul class="navbar-nav ul-left">#}
{#                            <a class="nav-link active" aria-current="page" href="{% url 'webapp:firma_main' %}">Главная</a>#}
{#                            <a class="nav-link active" aria-current="page" href="{% url 'webapp:search' %}">Тарифы</a>#}
{#                            <a class="nav-link active" aria-current="page" href="{% url 'webapp:about' %}">О нас</a>#}
{#                        </ul>#}
{#                    </ul>#}
{#                    {% if request.user.is_authenticated %}#}
{#                        <span class="navbar-text"><a class="account" href="">{{ request.user }}</a></span>#}
{#                        <span><a class="nav-link cartin" href="{% url 'accounts:logout' %}">Выйти</a></span>#}
{#                    {% else %}#}
{#                        <a href="{% url 'accounts:login' %}" class="nav-link btn menu-button">Войти</a>#}
{#                        <a href="{% url 'accounts:login' %}" class="nav-link btn-success menu-button reg-btn">Регистрация</a>#}
{#                    {% endif %}#}
{#                </div>#}
            </nav>
        </div>

    </div>
    <div class="search-content">
        <div class="container-fluid">
            <dl class="row">
                <h3 class="text-center">Тендеры в котором фирма учавствовала</h3>
                <div class="table-responsive">
                    <table class="table table-responsive table-striped table-hover">
                        <thead>
                        <tr>
                            {#                <th scope="col">#</th>#}
                            <th scope="col">Номер тендера</th>
                            <th scope="col">Закупающая организация</th>
                            <th scope="col">Дата опубликования</th>
                            <th scope="col">Дата завершения</th>
                            <th scope="col">Название тендера</th>
                            <th scope="col">Общая сумма тендера</th>
                            <th scope="col">Номер лота</th>
                            <th scope="col">Название лота</th>
                            <th scope="col">Гокз</th>
                            <th scope="col">Форма гокз</th>
                            <th scope="col">Предложенная сумма</th>
                            <th scope="col">Планируемая сумма</th>
                            {#                <th scope="col"></th>#}
                        </tr>
                        </thead>
                        <tbody>
                        {% if tenders %}
                            {% for tender in tenders %}
                                <tr>
                                    {#                        <th scope="row"> {{ page_obj.number * 5 + forloop.counter0 }}</th>{{ value|add:"2" }}#}
                                    {% if tender.tender_num %}
                                        <td>{{ tender.tender_num }}</td>
                                    {% else %}
                                        <td>Нет данных</td>
                                    {% endif %}
                                    {% if tender.zak_org %}
                                        <td>{{ tender.zak_org }}</td>
                                    {% else %}
                                        <td>Нет данных</td>
                                    {% endif %}
                                    {% if tender.start %}
                                        <td>{{ tender.start }}</td>
                                    {% else %}
                                        <td>Нет данных</td>
                                    {% endif %}
                                    {% if tender.finish %}
                                        <td>{{ tender.finish }}</td>
                                    {% else %}
                                        <td>Нет данных</td>
                                    {% endif %}
                                    {% if tender.tender_name %}
                                        <td>{{ tender.tender_name }}</td>
                                    {% else %}
                                        <td>Нет данных</td>
                                    {% endif %}
                                    {% if tender.tender_summ %}
                                        <td>{{ tender.tender_summ }}</td>
                                    {% else %}
                                        <td>Нет данных</td>
                                    {% endif %}
                                    {% if tender.lots_number %}
                                        <td>{{ tender.lots_number }}</td>
                                    {% else %}
                                        <td>Нет данных</td>
                                    {% endif %}
                                    {% if tender.lots_name %}
                                        <td>{{ tender.lots_name }}</td>
                                    {% else %}
                                        <td>Нет данных</td>
                                    {% endif %}
                                    {% if tender.gokz %}
                                        <td>{{ tender.gokz }}</td>
                                    {% else %}
                                        <td>Без гокз</td>
                                    {% endif %}
                                    {% if tender.gokz_form %}
                                        <td>{{ tender.gokz_form }}</td>
                                    {% else %}
                                        <td>Без гокз</td>
                                    {% endif %}
                                    {% if tender.proposed_summ %}
                                        <td>{{ tender.proposed_summ }}</td>
                                    {% else %}
                                        <td>Нет данных</td>
                                    {% endif %}
                                    {% if tender.planned_summ %}
                                        <td>{{ tender.planned_summ }}</td>
                                    {% else %}
                                        <td>Нет данных</td>
                                    {% endif %}
                                    {#                        <td class="more-btn"><b><a class="more" href="{% url "webapp:firma_detail" firma.pk %}">подробнее</a></b></td>#}
                                </tr>
                            {% endfor %}
                            {% if is_paginated %}
                                {#                        {% include 'partial/pagination.html' %}#}
                            {% endif %}

                        {% elif not tenders %}
                            <div class="main-block">
                                <span class="descr">Данных не обнаружено</span>
                            </div>
                        {% endif %}

                        </tbody>
                    </table>
                </div>

                {% if is_paginated %}
                    {% include 'partial/pagination.html' %}
                {% endif %}
            </dl>
        </div>
    </div>
{% endblock %}