body{
    background-color: white;
    font-family:'Source Sans Pro', sans-serif;
    /*font-family: "Open Sans", sans-serif;*/
    /*font-size: 14px;*/
    /*line-height: 20px;*/
}
.navbar{
    background-color: white;

}
.navbar-brand{
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
}

.account{
    color: black;
}

.account:hover{
    color: orange;
}

.main-block{
    margin-top: 30px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.main-block h2{
    font-size: 30px;
    color: #000;
    font-weight: normal;
    margin-bottom: 20px;
}
.main-block p{
    font-size: 16px;
    color: #404040;
    line-height: 26px;
    padding-bottom: 10%;
    max-width: 50%;
    /*background: url(../images/bg-bricks.jpg);*/
    /*background-repeat: no-repeat;*/
    /*background-position: left bottom;*/
}

a {
    text-decoration: none;
}

.text-center {
    margin-top: 30px;
    margin-bottom: 30px;
}

.azamat {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.tizme{
    margin-top: 30px;
}

.yust{
    margin-top: 30px;
}

/*.btn-outline-secondary{*/
/*width: 100%;*/
/*}*/

.btn-secondary{
    width: 100%;
}

.det{
    margin-top: 30px;
}

.det_2{
    width: 100%;
}

.right{
    position: absolute;
    top: 70px;
    right: 10px;
}

.founders{
    position: relative;
    right: 10px;
    bottom: 0px;
}

.card{
    margin-top: 30px;
    margin-bottom: 30px;
    border: none;
}

.tizmetext{
    text-align: center;
}

.pagination{
    color: whitesmoke;
}

.page-link{
    color: black;
}

.page-linkk{
    color: black;
    background-color: orange;
}

.page-link:active{
    background-color: orange;
}

.page-item:active{
    color: orange;
    background-color: orange;
}

.page-item.active .page-link{
    background-color: orange;
    border: gray;
}

.more{
    color: orange;
    text-align: center;
}

.gr{
    color: lightslategray;
}

.hr{
    color: orange;
}

.hr_2{
    height: 5px;
}

.disp{
    display: block;
}

.col-sm-3{
    color: lightslategray;
}

.detail{
    background-color: white;
    font-family:'Source Sans Pro', sans-serif;
}

.det_tizme{
    margin-top: 20px;
    background-color: white;
}

.cartin{
    /*background: url("../img/sign-out-alt-solid.svg")center no-repeat;*/
    color: #D5A867;
}

.sled{
    font-family: 'Fjalla One', sans-serif;
    font-size: 300%;
    margin-bottom: 30px;

}

.logo{
    font-family: 'Fjalla One', sans-serif;;
    font-size: xx-large;
    color: black;
}

.logo:hover{
    color: #D5A867;
}

.logo_foot{
    font-family: 'Fjalla One', sans-serif;;
    font-size: xx-large;
    color: gray;
}

.descr{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
    color: #1F1F1F;
    text-align: right;
    padding-right: 50%;
    width: 3000px;
}

.count_title{
    color: #D5A867;
}

.count_description{
    color: black;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}

.input-group{
    width: 50%;
}

.result{
    color: #D5A867;
}

.budg{
    color: #D5A867;
}

.budg:hover{
    color: black;
}

.nav-link{
    color: #D5A867;
}
.logo2{
    height: 115px;
    width: 240px;
    background-image: url(../logos/Sled-logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
}