body{
    background-color: whitesmoke;
}
.navbar{
    background-color: #5F9EA0;
}

.main-block{
	margin-top: 30px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.main-block h2{
	font-size: 30px;
	color: #000;
	font-weight: normal;
}
.main-block p{
	font-size: 16px;
	color: #404040;
	line-height: 26px;
	padding-bottom: 10%;
	/*background: url(../images/bg-bricks.jpg);*/
	/*background-repeat: no-repeat;*/
	/*background-position: left bottom;*/
}

a {
    text-decoration: none;
}

.text-center {
    margin-top: 30px;
    margin-bottom: 30px;
}

.azamat {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.tizme{
    margin-top: 30px;
}

.yust{
    margin-top: 30px;
}

/*.btn-outline-secondary{*/
    /*width: 100%;*/
/*}*/

.btn-secondary{
    width: 100%;
}

.det{
    margin-top: 30px;
}

.det_2{
    width: 100%;
}

.right{
    position: absolute;
    top: 70px;
    right: 10px;
}

.founders{
    position: relative;
    right: 10px;
    bottom: 0px;
}

.card{
    margin-top: 30px;
    margin-bottom: 30px;
}

.tizmetext{
    text-align: center;
}